<div class="prdct_sec_filter_sec_all_pnl prdct_sec_filter_sec_size_pnl mb-5 d-inline-block w-100">
    <h4 class="font-500 pb-2 mb-4">
        <span class="material-icons prdct_sec_filter_sec_all_pnl_arw_icon">arrow_drop_down</span>
        Shop By Size
    </h4>
<!-- 
    <ul class="p-0 m-0" style="list-style-type:none"  *ngFor="let item of shopBySize">
        <div class="form-check py-2">
            <input class="form-check-input" type="checkbox" name="exampleRadios" 
            id="exampleRadios1" value="{{item.name}}" (click)="onSize(item.id)">
            <label class="form-check-label font-500 font-18 text-dark ml-2 my-auto" for="exampleRadios1">
                {{item.name}}
            </label>
        </div>

        </ul> -->

        <ul class="p-0 m-0" style="list-style-type:none" >
            <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="S" (click)="onSize('S')">
                <label class="form-check-label font-500 font-18 text-dark ml-2 my-auto" for="exampleRadios1">
                   S
                </label>
            </div>
            <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="M" (click)="onSize('M')">
                <label class="form-check-label font-500 font-18 text-dark ml-2 my-auto" for="exampleRadios1">
                  M
                </label>
            </div>
            <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="L" (click)="onSize('L')">
                <label class="form-check-label font-500 font-18 text-dark ml-2 my-auto" for="exampleRadios1">
                  L
                </label>
            </div>
            <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="XL" (click)="onSize('XL')">
                <label class="form-check-label font-500 font-18 text-dark ml-2 my-auto" for="exampleRadios1">
                  XL
                </label>
            </div>
            <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="XXL" (click)="onSize('XXL')"> 
                <label class="form-check-label font-500 font-18 text-dark ml-2 my-auto" for="exampleRadios1">
                   XXL
                </label>
            </div>
            <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="Free Size" (click)="onSize('Free Size')"> 
                <label class="form-check-label font-500 font-18 text-dark ml-2 my-auto" for="exampleRadios1">
                   Free Size
                </label>
            </div>

            </ul>


        </div>

        





    <!-- <div class="p-0 m-0" style="list-style-type:none">
        <div class="form-group mt-2 d-inline-block w-100">
            <div class="selector">
                <div class="selection selected">S</div>
                <div class="selection">M</div>
                <div class="selection">L</div>
                <div class="selection">XL</div>
                <div class="selection">XXL</div>
            </div>
        </div>
    </div> -->
<!-- </div> -->