.timer{
    color: slategray;
    float: right;
    font-weight: bolder;
    font-size: larger;
}

.resend span{
    color: slategray;
    float: right;
    font-weight: bold;
    font-size: medium;
}

.resend a{
    color:black;
    float: right;
    font-weight: bold;
    font-size: medium;
}
.terms_check{
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    margin:0px 0px 20px 8px;
}
.terms_check a{
    color: #2874f0;
    cursor: pointer;
}